/*タイトル　サムネ　など*/
.title_thumbnail_area{
	background-size:cover;
	background-image: url("../images/top-texture.png");
	background-color: #fff;
}
.maincontents-area{
	margin: 0% 20%;
	text-align: center;
}
/*テキスト１*/
.text1{
	padding: 5% 5%;
}
.text1 img{
	padding-top:  10%;
}
.text1 p{
	padding-top: 12%;
}
.text3{
	margin-top: 15%;
}
/*生放送*/
.namahousou_size{
	margin-bottom: 20%;
	width: 60%;
	height: auto;
	margin: 0% 20%;
}
.namahousou{
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}
.namahousou iframe{
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}

/*コンテンツのテンプレート*/
.content_template{
	margin-top: 20%;
	padding: 0% 10%;
}
.content_template h2{
	padding-top: 8%;
}
.content_template h3{
	font-family: source-han-sans-japanese, sans-serif;
}
.content_template img{
	padding-top: 5%;
}
.content_template *{
	font-weight:unset;
}
@media screen and (max-width : 750px ){
.content_template{
	font-size: small;
}
img{
	width: 60%;
	height: auto;
}
.namahousou_size{
	margin: 0%;
	width: 100%;
}
}