body{
    
}
a{
    text-decoration: none;
    color: black;
}
header{
    padding: 0px 250px;
    display: flex;
    justify-content: space-between;
}
.link{
    padding: 20px 0px;
}
.streamButton{
    padding: 35px 50px;
    background: red;
    border-radius: 5px;
    color: white;
}

footer .copylight {
 font-size: small;
}