body{
    margin: 0px;
    border: 0px;
    padding: 0px 0px;
    font-family: a-otf-ryumin-pr6n,serif;
    font-weight: 300;
    font-style: normal;
}
a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: black;

}
/* header */
header{
    top: 0;
    width: 100%;
    height: 95;
    /* padding: 0px 100px; */
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    position: fixed;
    white-space: nowrap;
    color: black;
    z-index:5;
}
.header_title{
    font-size: 20px;
    line-height: 23px;
    padding: 0px 10%;
}
.header_menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px 10%;
    font-size: 20px;
}
@media screen and (max-width : 1080px ){
.header_title{
    padding: 0px 3%;
}
.header_menu{
    padding: 25px 3%;
}
}
.header_menu a::after{
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #FEF4F4;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.header_menu a:hover::after {
    transform: scale(1, 1);
  }
/* .streamButton{
    text-align: center;
    width: 10%;
    padding: 35px;
    background: gray;
    border-radius: 5px;
    color: white;
} */
/*ハンバーガーボタン*/
/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
    top: 20px;
    right: 20px;
    z-index: 6;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*----------------------------
  * メニュー本体
  *----------------------------*/
  .menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #AC7971;
  }
  .menu__item,.menu__item a{
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #FEF4F4;
    box-sizing: border-box;
  }
  
  /*----------------------------
  * アニメーション部分
  *----------------------------*/
  
  /* アニメーション前のメニューの状態 */
  .menu{
    transform: translateX(100vw);
    transition: all .3s linear;
  }
  /* アニメーション後のメニューの状態 */
  .menu.is-active{
    transform: translateX(0);
  }
 .hamburger,.hamburger--elastic{
    display: none;
}

/*footer*/
footer{
    width: 100%;
    height: 196px;
    right: 0;
    padding: 0px;
    bottom: 0px; /*下に固定*/
}
footer *{
    background-color: #f5f5f5;
}
.footer-images{
   
}
.footer-img-proN{
    width: 10%;
}
.footer-img-Al{
     width: 5%;
}
footer div{
    padding-left: 0%;
}
footer div p{
    width: 100%;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
}
.copylight {
    text-align: right;
    /* font-size: small;*/
    width: 99%;
    padding-right: 1%;
}
.footer-link-master{
    padding:111px 0% 0% 0%;
}
.footer-link-button{
    padding-right: 0.5%;
}
.footer-smartphone-line-break{
    display: none;
}


@media screen and (max-width : 750px ){
/* header */
header{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.link{
    padding: 20px 0px;
    display:none;
}
.streamButton{
    text-align: center;
    width: 10%;
    height: 10%;
    padding: 35px;
    background: red;
    border-radius: 5px;
    color: #FEF4F4;
}
.header_title{
    font-size: 80%;
    padding: 10px 20px;
}
.header_menu{
display: none;
}
/*ハンバーガーボタン*/
.hamburger,.hamburger--elastic{
    display: inline;
    display: table-cell;
    vertical-align: middle;
}

/*footer*/
footer{
    height: 145px;
    margin-top: 10px;
}
footer div{
    padding-left: 0%;
}

footer div p{
    text-align: right;
    letter-spacing: 0px;
    color: #FEF4F4;
    font-size: 12px;
}
.footer-link-master{
    margin: 0px auto;
    width: 90%;
    padding-top:42px;
    text-align: center;
}
.copylight {
padding-bottom: 3px;
 font-size: small;
 text-align: center;
}
.footer-smartphone-line-break{
    display:inline;
}
}
