body{
    margin: 0px;
    border: 0px;
    padding: 0px 0px;
    font-family: a-otf-ryumin-pr6n,serif;
    font-weight: 300;
    font-style: normal;
}
a{
    text-decoration: none;
    color: white;

}
/* header */
header{
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #843D36;
    /* position: fixed; */
}

.header_title{
    color: white;
    font-size: 20px;
    /* line-height: 5px; */
}

.header_menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 30px 600px;
    font-size: 20px;      
}
/* .streamButton{
    text-align: center;
    width: 10%;
    padding: 35px;
    background: gray;
    border-radius: 5px;
    color: white;
} */


/*ハンバーガーボタン*/
/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*----------------------------
  * メニュー本体
  *----------------------------*/
  .menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
  }
  .menu__item,.menu__item a{
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }
  
  /*----------------------------
  * アニメーション部分
  *----------------------------*/
  
  /* アニメーション前のメニューの状態 */
  .menu{
    transform: translateX(100vw);
    transition: all .3s linear;
  }
  /* アニメーション後のメニューの状態 */
  .menu.is-active{
    transform: translateX(0);
  }
 .hamburger,.hamburger--elastic{
    display: none;
}



/*main content*/
.content{
    width:auto;
    height: 100%;
    background-color: antiquewhite;/*debug*/
	margin-bottom: 100px;
}

/*footer*/
footer{
    width: 100%;
    height: 196px;
    background-color: #843D36;
    color: #fff;
    right: 0;
    padding: 0px;
    bottom: 0px; /*下に固定*/
}
footer div{
    padding-left: 0%;
}
footer div p{
    width: 100%;
    text-align: right;
    letter-spacing: 0px;
    color: #FEF4F4;
    opacity: 1;
}
.copylight {
/* font-size: small;*/
width: 99%;
padding-right: 1%;
}
.footer-link-master{
    padding:111px 0% 0% 0%;
}
.footer-link-button{
    padding-right: 0.5%;
}
.footer-smartphone-line-break{
    display: none;
}


@media screen and (max-width : 1696px ){
/* header */
header{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.link{
    padding: 20px 0px;
    display:none;
}
.streamButton{
    text-align: center;
    width: 10%;
    height: 10%;
    padding: 35px;
    background: red;
    border-radius: 5px;
    color: white;
}

/*ハンバーガーボタン*/
.hamburger,.hamburger--elastic{
    display: inline;
}

/*footer*/
footer{
    height: 145px;
}
footer div{
    padding-left: 0%;
}

footer div p{
    text-align: right;
    letter-spacing: 0px;
    color: #FEF4F4;
    font-size: 12px;
}
.footer-link-master{
    margin: 0px auto;
    width: 90%;
    padding-top:42px;
    text-align: center;
}
.copylight {
padding-bottom: 3px;
 font-size: small;
 text-align: center;
}
.footer-smartphone-line-break{
    display:inline;
}
}
