/*タイトル　サムネ　など*/
.title_thumbnail_area{
    width: 100%;
    height: 1400px;
    position: relative;
	background-size:cover;
	background-image: url("../images/top-texture.png");
	background-color: #ED1C24;
}

/*contents*/
.maincontents-area{
    text-align: center;
}
.text-1{
    margin: 20% 30% 10% 30%;
}


/*character*/
.root_character{

}
.character_name{
    text-align: center;
}
.character_img{

}
.character_introduction{
    width: 100%;
    height: 1000px;
}
.desktop{
}
.left{
    float: left;
    width: 60%;
    height: auto;
}
.left img{
    width: 100%;
    height: 100%;
}
.character_text{
    float: none;
padding-top: 8%;
text-align: center;
}
.right{
    float: right;
}