/* 説明 */
.description{
    text-align: center;
    padding: 0px 150px;
    font-size: 70%;
    color: grey;
}
.description_images{
    display: flex;
	justify-content: space-around;
}
.ProjectN_img{
    width: 30%;
}
.Al_logo_img{
    width: 15%;
}

/*メインステージ*/
.mainstage {
	padding: 1% 0;
	width: auto;
	height: auto;
	background-color: #E0C4A8;
	text-align: center
}

.mainstage-img {
	width: 100%;
	height: auto;
	text-align: center;
}
.mainstage-img > img{
	width: 50%;
}
/*Live*/
.live-area{
	width: 100%;
	height: 180px;
	background-color: #843D36;
	display: flex;
	justify-content: center;
	align-items: center;
}
.live-area li{
	display: table;
	list-style: none;
}
.live-area li div{
	display: table-cell;
	vertical-align: middle;
}
#live{
	width: 100%;
	color: #FEF4F4;
	font-size: 30px;
	text-align: center;	
}
.live-area-image{
	padding-right: 50px;
}

/*タイトル　サムネ　など*/
.title_thumbnail_area{
    width: 100%;
    height: 900px;
    position: relative;
	background-size:cover;
	background-image: url("../images/2316353_l.jpg");
}
.title-character{
	color: #FEF4F4;
    position: absolute;
    padding-right: 5%;
    font-size:3vh;
    right: 0;
    bottom: 0;
}

/*メインステージ*/
.content{
    width:auto;
    height: 100%;
    /* background-color: #849765;debug */
	margin-bottom: 100px;
	padding: 50px 150px;
}
.mainstage{
	background: #849765;
}
.mainstage-title{
	color: gray;
	font-size: 30px;
	text-decoration: underline;
	text-align: center;
}
/*伝統部門*/
.dentoubumon {
	width: 100%;
	height: 300px;
	padding-bottom: 10%;
	color: white;
}
.dentoubumon-title{
	text-decoration: underline;
	color: gray;
}
.dentoubumon > h1{
	text-align: center;
}
.line {
	width: 33.3%;
	height: auto;
	text-align: center;
	float: left;
}

.dentoubumon-img {
	border: dashed 1px silver;
	width: 33.3%;
	height: 33.3%;
	object-fit: fill;
}

.engeki {
	background-color: #964628;
}

.engei {
	background-color: #849765;
}

.ongaku {
	background-color: #964628;
}
@media screen and (max-width : 750px ){
/*説明*/
.description{
    padding: 0 10px;
}

/*伝統部門*/
.dentoubumon{
    height: 500px;
}
.line{
    width: 100%;
    height: auto;
    float:none;
}
.line > h3{
    margin:0px;
}
/*タイトル画像付近*/
.title_thumbnail_area{
	height: 700px;
}
/*Live*/
#live{
	font-size: 24px;
}
.live-area-image{
	padding-right: 20px;
}
}