/* 説明 */
.description{
    text-align: center;
    padding: 0px 150px;
    font-size: 70%;
    color: grey;
}
.description_images{
    display: flex;
	justify-content: space-around;
}
.ProjectN_img{
    width: 30%;
}
.Al_logo_img{
    width: 15%;
}

/*メインステージ*/
.mainstage {
	padding: 1% 0;
	width: auto;
	height: auto;
	background-color: #E0C4A8;
	text-align: center
}

.mainstage-img {
	width: 100%;
	height: auto;
	text-align: center;
}
.mainstage-img > img{
	width: 50%;
}

/*タイトル　サムネ　など*/
.title_thumbnail_area{
    width: 100%;
    height: 1400px;
    position: relative;
	background-size:cover;
	background-image: url("../images/top-texture.png");
	background-color: #00793D;
}
.title-center{
	width: 80%;
	height: 80%;
	margin: 0 auto;
	padding-top: 10%;
	text-align: center
;
}
.title-character{
	width: 40%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	position: absolute;
    top: 30%;
	right: 31.1%;
	z-index: 2;
	font-size: 250%;
}
.title-logo{
	width: 15%;
	position: absolute;
	margin: 80px 0px 0px 650px;
}
.title-image{
	width: 100%;
	height: 100%;
}
/*Live*/
.live-area{
	width: 100%;
	height: 180px;
	background-color: #843D36;
	display: flex;
	justify-content: center;
	align-items: center;
}
.live-area li{
	display: table;
	list-style: none;
}
.live-area li div{
	display: table-cell;
	vertical-align: middle;
}
#live{
	width: 100%;
	color: black;
	font-size: 50px;
	text-align: center;	
}
.live-area-image{
	padding-right: 50px;
}
/*maincontents*/
.maincontents-area{
	margin: 0% 5%;
	width: 90%;
	background-image: url("../images/top_bk_image.png");
	background-repeat: no-repeat;
}
.main_caution{
	text-align: center;
	margin: 0% 20%;
	display: inline-block;
	white-space: nowrap;
}
.main_caution_1{
	padding-top: 300px;
}
.main_caution_2{
	padding-top: 20px;
	padding-bottom: 40px;
}
.main_icon{
	width: 18%;
	height: 18%;
}
.contents_box{
	display:flex;
	padding-top: 15%;
}
.contents_box.left{
	padding-left: 5%;
}
.contents_box.right{
	padding-right: 5%;
    justify-content: flex-end;
}
.contents_box_text{
	text-align: center;
	height: 100%;
	padding: 0% 40px;
	border-bottom: solid 3px black;
}
.main_koi{
	margin: 25% 25% 25% 25%;
	width: 50%;
	height: 50%;
}

@media screen and (max-width : 1080px ){
.title_thumbnail_area{
height: 1000px;
}
.title-character{
	font-size: 180%;
}
.title-logo{
	width: 20%;
	margin: 100px 320px;
}
#live{
	font-size: 20px;
}
}

/*メインステージ*/
.content{
    width:auto;
    height: 100%;
    /* background-color: #849765;debug */
	margin-bottom: 100px;
	padding: 50px 150px;
}
.mainstage{
	background: #849765;
}
.mainstage-title{
	color: gray;
	font-size: 30px;
	text-decoration: underline;
	text-align: center;
}
/*伝統部門*/
.dentoubumon {
	width: 100%;
	height: 300px;
	padding-bottom: 10%;
	color: white;
}
.dentoubumon-title{
	text-decoration: underline;
	color: gray;
}
.dentoubumon > h1{
	text-align: center;
}
.line {
	width: 33.3%;
	height: auto;
	text-align: center;
	float: left;
}

.dentoubumon-img {
	border: dashed 1px silver;
	width: 33.3%;
	height: 33.3%;
	object-fit: fill;
}

.engeki {
	background-color: #964628;
}

.engei {
	background-color: #849765;
}

.ongaku {
	background-color: #964628;
}
@media screen and (max-width : 750px ){
/*説明*/
.description{
    padding: 0 10px;
}

/*伝統部門*/
.dentoubumon{
    height: 500px;
}
.line{
    width: 100%;
    height: auto;
    float:none;
}
.line > h3{
    margin:0px;
}
/*タイトル　サムネ　など*/
.title_thumbnail_area{
    width: 100%;
    height: 900px;
    position: relative;
	background-size:cover;
	background-image: url("../images/top-texture.png");
	background-color: #00793D;
}
.title-center{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-top: 15%;
	text-align: center
;
}
.title-character{
	width: 80%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	position: absolute;
    top: 43%;
	right: 11.1%;
	z-index: 2;
	font-size: 100%;
}
.title-logo{
	max-width: 100%;
	width: 25%;
	position: absolute;
	margin: 270px 145px;
}
.title-image{
	width: 100%;
	height: 100%;
}/*Live*/
#live{
	font-size: 16px;
}
.live-area-image{
	padding-right: 0px;
}
.live-area li div{
	display:block;
	justify-content: center;
	text-align: center;
}
/*コンテンツ*/
.content{
	padding: 0px;
}
}

/*タイトルの画像位置調整*/
@media screen and (max-width : 1080px ){
.title_thumbnail_area{
}
}